body,
p,
h1,
h2,
h3,
h4,
h5,
hr {
	font-family: 'Nunito Sans', sans-serif;
	color: #1d1d1d;
	line-height: 1.75;
	background: #fefaf0;
	font-weight: 300;
}

/*page container*/

element.style {
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.white {
	z-index: 9999;
}

.container {
	margin: 0;
}

.about {
	margin: 0 auto;
	padding-right: 8%;
	padding-left: 6%;
}

.about div {
	opacity: 0;
}

.bye {
	z-index: 9999999;
	position: sticky;
	padding-top: 4%;
	padding-left: 6%;
	display: block;
	position: -webkit-sticky;
	top: 0;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding-top: 35px;
}

.left {
	width: 40%;
}

.right {
	width: 60%;
}

.hidden-img {
	position: sticky;
	top: 25%;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
}

.my-img {
	opacity: 0;
	visibility: visible;
	position: fixed;
	width: 500px;
	bottom: 0;
	padding-top: 4em;
	z-index: -20;
}

#hover-img {
	display: none;
	width: 90%;
}

@media screen and (max-width: 800px) {
	.left {
		width: 100%;
	}
	.right {
		width: 100%;
	}
	.center {
		width: 100%;
	}
	.about {
		padding-top: 8%;
	}
	.my-img {
		width: 100%;
		padding: 0;
		position: sticky;
	}
	.row {
		padding: 0;
	}

	.bye {
		background: #fefaf0;
		padding-bottom: 4%;
	}

	#hover-img {
		width: 80%;
		top: 0;
		position: fixed;
		padding-bottom: 100%;
	}
}

.tiny-content {
	letter-spacing: .05em;
	display: block;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1em;
}

/* styling stuff */
.red {
	color: #e70000;
}

.pink {
	color: rgb(216, 30, 176);
}

.purple {
	color: rgb(101, 18, 196);
}

.peach {
	color: #fd1864;
}
.green {
	color: #05cc0b;
}

.golden {
	color: #f1b100;
}

.orange {
	color: rgb(233, 127, 6);
}

.white {
	color: rgb(255, 248, 240);
}

.gray {
	color: rgb(223, 59, 59);
}

.bold {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
}
.blue {
	color: #026cfc;
}

/*things I believe apply to me! hehe*/
.tagline {
	line-height: 1.5;
	font-size: 3.75em;
	position: relative;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: black;
	transition: .4s;
}

a:hover {
	opacity: 0.5;
}

a:focus {
	opacity: 0.5;
}
