div, li {
  font-family: 'Work Sans', sans-serif;
  color: #444449;
  font-size: 20px;
  line-height: 150%;
}

a, span {
  text-decoration: none;
  color: #19F2E7;
}

.header {
    color: #19F2E7;
}

#all-text {
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
}

#top-li {
  margin-top: 10px;
}

#bottom-li {
  margin-bottom: 10px;
}

a:hover {
  text-decoration: underline;
}

span:hover {
  text-decoration: underline;
  cursor: pointer;
}

#byebye{
  margin-top: 70px;
  margin-bottom: 100px;

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  div, li {
    line-height: 200%;
    font-size: 22px;
  }

  #all-text {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
  }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  div, li {
    line-height: 200%;
    font-size: 23px;
  }

  #all-text {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
  }
}





