body,
p,
h1,
h2,
h3,
h4,
h5,
.tagline {
	font-family: 'AvenirNextLTPro-Regular', sans-serif;
	src: url("//fonts/WorkSans-Regular.ttf");
	color: #1d1d1d;
}

/*page container*/

element.style {
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.white {
	z-index: 9999;
}

.border-wrapper .default .border {
	z-index: 9999;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(143, 80, 117, 0.685), 0 6px 20px 0 rgba(138, 138, 138, 0.2);
}

.border.top {
	position: fixed;
	top: 0;
	left: 0;
	transform-origin: top left;
	background-image: linear-gradient(40deg, #ff6db6 10%, #ffad6b 50%, #b754f0 90%);
}

.border.right {
	position: fixed;
	top: 0;
	right: 0;
	transform-origin: top right;
	background-image: linear-gradient(40deg, #ff6db6 10%, #ffad6b 50%, #b754f0 90%);
}

.border.left {
	position: fixed;
	top: 0;
	left: 0;
	transform-origin: top left;
	background-image: linear-gradient(140deg, #ff6db6 10%, #ffad6b 50%, #b754f0 90%);
}

.border.bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	transform-origin: top left;
	background-image: linear-gradient(40deg, #b754f0 10%, #ffad6b 50%, #ff6db6 90%);
}

.border.horizontal {
	width: 100%;
	height: 10px;
}

.border.vertical {
	width: 10px;
	height: 100%;
}

.border {
	display: block;
	will-change: auto;
}

.scroll {
	/* the outer div */
	background: #ffffff;
	font-family: 'WorkSans-ExtraLight';
	font-size: 1.5em;
	position: relative;
	left: 0%;
	width: 99.9%;
	max-height: 45px;
	overflow: hidden;
	cursor: pointer;
}

ul.list {
	position: relative;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.list.cloned {
	position: absolute;
	top: 0px;
	left: 0px;
}

ul.list li {
	float: left;
	padding-left: 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 2px;
}

.title-column {
	flex: 33%;
	max-width: 100%;
}

.column {
	flex: 33%;
	max-width: 90%;
	padding: 0 2px;
}

.container {
	position: relative;
}

.container-left {
	margin-left: 4%;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media screen and (max-width: 1000px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 1000px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}

.img-descrip {
	margin-bottom: 35px;
	font-size: .7em;
}

.my-img {
	width: 80%;
	padding-top: 2em;
	padding-left: 20%;
	margin-right: 8em;
	margin-bottom: 35px;
}

.text-block {
	position: relative;
	background-color: none;
	text-align: left;
}

/* styling stuff */
.red {
	color: #e83434;
}

.pink {
	color: rgb(233, 115, 207);
}

.green {
	color: #20d825;
}

.golden {
	color: #ecb709;
}

.orange {
	color: rgb(233, 127, 6);
}

.bold {
	font-weight: 600;
}
.blue {
	color: #026cfc;
}

a {
	text-decoration: none;
	color: black;
	transition: .4s;
}

a:hover {
	opacity: 0.2;
}

/*social media footer*/
.footer {
	font-size: 0.8em;
	position: fixed;
	bottom: 0px;
	color: black;
	background-color: #ffffff;
	text-align: center;
	width: 100%;
	z-index: 99999999999;
}
