
body, html {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  background-color: #fffffc;

}

#navbar {
  margin: 0 auto;
  width: 100%;
  margin-left: 30%;
}


.menu-item {
  font-size: 15px;
  display: inline-block;
  margin: 20px 55px 0px 0px;
  cursor: pointer;
  border: 2px solid transparent;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
}



#intro {
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 550;
  color: #88C6ED;
}

.work-item {
  font-size: 15px;
  display: inline-block;
  margin: 20px 10px 0px 100px;
  cursor: pointer;
}

#scroll {
  margin-top: 30px;
/*  text-align: left;*/
  text-align: center;
}

.section-box {
  margin-bottom: 15px;
}

/*work titles & des*/
.work-title1 {
  display: inline-block;
  cursor: pointer;
  font-style: 60px;
  font-weight: 200px;
  color: #88C6ED;
}

.work-des1 {
  display: none;
  margin: 0 auto;
  width: 55%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.work-title2 {
  display: inline-block;
  cursor: pointer;
  font-style: 60px;
  font-weight: 200px;
  color: #88C6ED;
}

.work-des2 {
  display: none;
  margin: 0 auto;
  width: 55%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.work-title3 {
  display: inline-block;
  cursor: pointer;
  font-style: 60px;
  font-weight: 200px;
  color: #88C6ED;
}

.work-des3 {
  display: none;
  margin: 0 auto;
  width: 55%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.work-title4 {
  display: inline-block;
  cursor: pointer;
  font-style: 60px;
  font-weight: 200px;
  color: #88C6ED;
}

.work-des4 {
  display: none;
  margin: 0 auto;
  width: 55%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.work-title1:hover {
  color: #EB5260;
}

.work-title2:hover {
  color: #EB5260;
}

.work-title3:hover {
  color: #EB5260;
}

.work-title4:hover {
  color: #EB5260;
}
/*worktitles&des*/


.work-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: italic;
}

.work-date {
  color: #4e4d4d;
  font-size: 13px;
}

.sticky {
  text-align: center;
}

.description {
  margin: 0 auto;
  width: 35%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}


#skills, #languages {
  cursor: pointer;
  margin-bottom: 15px;
}

a {
  color: #4e4d4d;
  text-decoration: none;
}

a:hover {
  color: #EB5260;
}

a.text-links {
  font-family: 'Raleway', sans-serif;
  color: #ea3333;
  text-decoration: none;
}

a.text-links:hover {
  color: #EB5260;
}

#footer {
  color: #4e4d4d;
  width: 100%;
  text-align: center;
  font-size: 10px;
}







