
body, html {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Reem Kufi', sans-serif;
  background-color: #fffffc;

}

#navbar {
  margin: 0 auto;
  width: 100%;
  margin-left: 30%;
}

.menu-item {
  font-size: 15px;
  display: inline-block;
  margin: 20px 55px 0px 0px;
  cursor: pointer;
  border: 2px solid transparent;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.menu-item:hover {
  border: 2px solid #4e4d4d;
}


#intro {
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 550;
  color: #88C6ED;
}

.work-item {
  font-size: 15px;
  display: inline-block;
  margin: 20px 10px 0px 100px;
  cursor: pointer;
}

#scroll {
  margin-top: 30px;
/*  text-align: left;*/
  text-align: center;
}

.section-box {
  margin-bottom: 15px;
}

.work-title {
  font-style: 60px;
  font-weight: 200px;
}

.work-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.sticky {
  text-align: center;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font size: 12px;
}

#skills, #languages {
  margin-bottom: 15px;
}


a {
  color: #4e4d4d;
  text-decoration: none;
}

a:hover {
  color: #EB5260;
}

a.text-links {
  font-family: 'Reem Kufu', sans-serif;
  color: #ea3333;
  text-decoration: none;
}

a.text-links:hover {
  color: #EB5260;
}

#footer {
  color: #4e4d4d;
  width: 100%;
  text-align: center;
  font-size: 10px;
}












